<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragment::head"></div>
</head>
<body>
<section class="section pb-0">
  <div class="container w-50">
    <div class="row justify-content-between align-items-center">
      <h1 class=" text-center text-primary mb-2">
        Erreur 405 : Accès Refusé
      </h1>
      <div class="text-center">
        <h5>Vous n'avez pas accès aux fonctionnalités de gestionnaire!!!</h5>
      </div>


    </div>
  </div>
</section>
<div th:replace="fragment::footer"></div>
</body>
</html>
