<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragment::head"></div>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragment::menu"></div>
    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container">
                <div class="card card-page shadow mb-4 table-responsive">
                    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="m-0 font-weight-bold text-primary">Suivi des formations</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-header py-2 d-sm-flex align-items-center justify-content-end">
                            <a class="btn btn-outline-success" th:href="@{/export/excel/formations/suivi}"><span class="fas fa-download"> Excel</span></a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered w-100">
                                <thead>
                                <tr class="text-primary">
                                    <th rowspan="2">Objectif spécifique</th>
                                    <th rowspan="2">Thématique</th>
                                    <th rowspan="2">Nombre de jour</th>
                                    <th class="text-center" colspan="7">Nombre de participants</th>
                                    <th class="text-center" colspan="7" >Vivant avec un handicape</th>
                                    <th rowspan="2">Budget</th>
                                    <th rowspan="2">Decaissement</th>
                                    <th rowspan="2" style="max-width: 150px;">Taux décaissement</th>
                                    <th rowspan="2">Outil de formation</th>
                                    <th rowspan="2">Commentaire</th>
                                    <th rowspan="2"></th>
                                </tr>
                                <tr class="text-primary">
                                    <th>Femme</th>
                                    <th>Homme</th>
                                    <th>Total</th>
                                    <th class="text-truncate" style="max-width: 150px;">Moin de 15 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">16 à 25 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">26 à 40 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">Plus de 40 ans</th>
                                    <th>Femme</th>
                                    <th>Homme</th>
                                    <th>Total</th>
                                    <th class="text-truncate" style="max-width: 150px;">Moin de 15 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">16 à 25 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">26 à 40 ans</th>
                                    <th class="text-truncate" style="max-width: 150px;">Plus de 40 ans</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="suivi:${listSuivi}">
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.planification.objectifSpecifique.libelle}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.planification.thematique}"></td>
                                    <td th:text="${suivi.planification.nbJour}"></td>
                                    <td th:text="${suivi.femme}"></td>
                                    <td th:text="${suivi.homme}"></td>
                                    <td th:text="${suivi.totalBeneficiaire()}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.t1}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.t2}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.t3}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.t4}"></td>
                                    <td th:text="${suivi.hdp_femme}"></td>
                                    <td th:text="${suivi.hdp_homme}"></td>
                                    <td th:text="${suivi.hdp_femme + suivi.hdp_homme}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.hdp_t1}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.hdp_t2}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.hdp_t3}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.hdp_t4}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.formatNombre(suivi.planification.budget)+' TTC'}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.formatNombre(suivi.decaissement)+' TTC'}"></td>
                                    <td th:attr="class='text-truncate '+${suivi.getColorDecaissement()}" style="max-width: 150px;" th:text="${suivi.formatNombre(suivi.ecart)+'%'}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.outil}"></td>
                                    <td class="text-truncate" style="max-width: 150px;" th:text="${suivi.commentaire}"></td>
                                    <td class="d-flex align-content-lg-end">
                                        <div class="mx-2" style="cursor: pointer" data-bs-toggle="modal" th:attr="data-bs-target='#information'+${suivi.id}">
                                            <i class="fa btn-circle pointer text-primary fa-eye fa-lg" title="Information"></i>
                                        </div>
                                        <div class="mx-2" style="cursor: pointer" th:if="${#httpSession.getAttribute('access') == 'ADMIN' || #httpSession.getAttribute('access') == 'SUPERVISOR' || suivi.auth == true}" data-bs-toggle="modal" th:attr="data-bs-target='#modification'+${suivi.id}">
                                            <i class="fa fa-regular pointer btn-circle fa-lg text-warning fa-pen-alt" title="Modification"></i>
                                        </div>

                                        <!-- Modal Information-->
                                        <div class="modal fade" th:id="'information'+${suivi.id}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="informationLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="informationLabel">Suivi de la formation</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <table class="table table-bordered w-100">
                                                            <tr>
                                                                <td class="fw-bold">Objectif spécifique</td>
                                                                <td th:text="${suivi.planification.objectifSpecifique.libelle}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Thématique</td>
                                                                <td th:text="${suivi.planification.thematique}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Nombre total de participants</td>
                                                                <td th:text="${suivi.totalBeneficiaire()}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Femmes</td>
                                                                <td th:text="${suivi.femme}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Hommes</td>
                                                                <td th:text="${suivi.homme}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Moin de 15 ans</td>
                                                                <td th:text="${suivi.t1}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">16 à 25 ans</td>
                                                                <td th:text="${suivi.t2}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">26 à 40 ans</td>
                                                                <td th:text="${suivi.t3}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Plus de 40 ans</td>
                                                                <td th:text="${suivi.t4}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Participants vivant avec un handicape</td>
                                                                <td th:text="${suivi.hdp_homme + suivi.hdp_femme}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Femmes</td>
                                                                <td th:text="${suivi.hdp_femme}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Hommes</td>
                                                                <td th:text="${suivi.hdp_homme}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Moin de 15 ans</td>
                                                                <td th:text="${suivi.hdp_t1}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">16 à 25 ans</td>
                                                                <td th:text="${suivi.hdp_t2}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">26 à 40 ans</td>
                                                                <td th:text="${suivi.hdp_t3}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Plus de 40 ans</td>
                                                                <td th:text="${suivi.hdp_t4}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Nombre de jour</td>
                                                                <td th:text="${suivi.planification.nbJour}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Budget</td>
                                                                <td th:text="${suivi.formatNombre(suivi.planification.budget)}+' TTC'"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Decaissement</td>
                                                                <td th:text="${suivi.formatNombre(suivi.decaissement)+' TTC'}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Taux décaissement</td>
                                                                <td th:text="${suivi.ecart}+'%'"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Outil de formation</td>
                                                                <td th:text="${suivi.outil}"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fw-bold">Commentaire</td>
                                                                <td th:text="${suivi.commentaire}"></td>
                                                            </tr>
                                                        </table>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal Modification-->
                                        <div class="modal fade" th:if="${#httpSession.getAttribute('access') == 'ADMIN' || #httpSession.getAttribute('access') == 'SUPERVISOR' || suivi.auth == true}" th:id="'modification'+${suivi.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modificationLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="modificationLabel">Suivi de la formation</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/formations/suivi/modification}" method="post">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" th:value="${suivi.planification.objectifSpecifique.libelle}" readonly>
                                                                <label>Objectif spécifique</label>
                                                            </div>

                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" th:value="${suivi.planification.thematique}" readonly>
                                                                <label>Thématique</label>
                                                            </div>

                                                            <div class="mb-3">
                                                                <h6>Nombre de participants</h6>
                                                                <input name="codePlanif" th:value="${suivi.planification.id}" hidden>
                                                                <input name="id" th:value="${suivi.id}" hidden>
                                                                <div class="row mb-2">
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="homme" th:value="${suivi.homme}" placeholder="Homme">
                                                                            <label>Homme</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="femme" th:value="${suivi.femme}" placeholder="Femme">
                                                                            <label>Femme</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <div class="row mb-2">
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="t1" th:value="${suivi.t1}" placeholder="Moin de 15 ans">
                                                                            <label>Moin de 15 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="t2" th:value="${suivi.t2}" placeholder="15 à 25 ans">
                                                                            <label>15 à 25 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="t3" th:value="${suivi.t3}" placeholder="26 à 40 ans">
                                                                            <label>26 à 40 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="t4" th:value="${suivi.t4}" placeholder="Plus de 40 ans">
                                                                            <label>Plus de 40 ans</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <h6>Participant vivant avec un handicape</h6>
                                                                <div class="row mb-2">
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_homme" th:value="${suivi.hdp_homme}" placeholder="Homme">
                                                                            <label>Homme</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_femme" th:value="${suivi.hdp_femme}" placeholder="Femme">
                                                                            <label>Femme</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <div class="row mb-2">
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_t1" th:value="${suivi.hdp_t1}" placeholder="Moin de 15 ans">
                                                                            <label>Moin de 15 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_t2" th:value="${suivi.hdp_t2}" placeholder="15 à 25 ans">
                                                                            <label>15 à 25 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_t3" th:value="${suivi.hdp_t3}" placeholder="26 à 40 ans">
                                                                            <label>26 à 40 ans</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-floating">
                                                                            <input pattern="^\d{1,4}?$" class="form-control" required name="hdp_t4" th:value="${suivi.hdp_t4}" placeholder="Plus de 40 ans">
                                                                            <label>Plus de 40 ans</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-floating mb-3">
                                                                <input pattern="^\d*(\.\d{0,2})?$" class="form-control" required name="decaissement" th:value="${suivi.decaissement}" placeholder="Decaissement">
                                                                <label>Decaissement</label>
                                                            </div>

                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control"  name="outil" placeholder="Outil de formation" th:value="${suivi.outil}">
                                                                <label>Outil de formation</label>
                                                            </div>

                                                            <div class="form-floating mb-3">
                                                                <textarea class="form-control" name="commentaire" placeholder="Commentaire" th:value="${suivi.commentaire}"></textarea>
                                                                <label>Commentaire</label>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                                <button type="submit" class="btn btn-primary">Modifier</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

                <!-- End of Main Content -->
                <div th:replace="fragment::footer"></div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#plan').on('change', function () {
            let responsable = $('#recherche').val();
            $('#form2').append("<input hidden name ='responsable' value='" + responsable + "' />");
            this.form.submit();
        });

        $('#bf1').click(function () {
            let date = $('#plan').val();
            $('#form1').append("<input hidden name ='date' value='" + date + "' />")
        });

        $('#export').click(function () {
            let date = $('#plan').val();
            let responsable = $('#recherche').val();
            $('#form0').append("<input hidden name ='date' value='" + date + "' /><br/>" +
                "<input hidden name ='theme' value='" + responsable + "' />")
        });
    });
</script>
</body>
</html>

